#edit_page.col-md.col-md-offset-2
	.row
		.panel.panel-default
			.panel-heading
				%h1 Fix Pic
			.panel-body
				%strong.center Right Now
				= image_tag @pic.image.url(:medium)
				= render 'form'
